.button {
    background-color: hsla(210, 70%, 60%, 1);
    transition: 0.3s;
    padding: 1rem;
    color: white;
    &:hover {
        background-color: hsla(210, 70%, 70%, 1);
    }
    &:active {
        transform: translateY(2px);
    }
}
