.Todo{
    background-color: white;
    border-radius: 0.4rem;
    padding: 1.5rem;
}
.title{
    font-size: 1.2rem;
    font-weight: 700;
}
.value{
    margin-top: 0.4rem;
}
.date{
    margin-top: 0.4rem;
    margin-left: auto;
    width: max-content;
}